@use "../../../styles/responsive.scss";

.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 10px;
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
  
      .icon{
        @include responsive.sm{
          display: none;
        }
      }
  
      .notification {
        position: relative;
  
        span {
          background-color: red;
          color: white;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          position: absolute;
          top: -10px;
          right: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
  
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
  
        img {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

  .avatar{
      width: 26px;
      height: 26px;
      border-radius: 50%;
      object-fit: cover;
    
  }
  
  .MuiPopper-root {
    z-index: 1200;
    margin-top: 70px;
    left: auto !important;
    right: 0 !important;
    transform: none !important;

  
    .MuiPaper-root {
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
      padding: 8px; // Giảm padding
      min-width: 240px; // Giảm kích thước ngang
      max-width: 260px; // Giữ trong khoảng phù hợp
    }

    // .MuiTypography-h6 {
    //   font-size: 14px; // Nhỏ hơn một chút
    // }
  
    // .MuiTypography-body2 {
    //   font-size: 12px;
    // }
  
    // .MuiTab-root {
    //   min-width: auto; // Cho tab nhỏ lại
    //   font-size: 12px;
    //   padding: 6px;
    // }
  }


  
  
  