body{ 
  margin: 0;
}

.footer {
  margin-top: 30px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  padding: 0 10% 0 10%;
}

.logo img {
  height: 40px;
}

.footer-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.footer-section h3, img {
  margin-bottom: px;
}

.footer-section-1, .footer-section-2 {
  margin: 0;
  line-height: 1.5;
}

.footer-content .footer-section {
  cursor: pointer;
}

.footer-content .footer-section Typography {
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.footer-content .footer-section Typography:hover {
  color: #1976d2; /* Màu xanh dương nhạt */
  text-decoration: underline;
}



