.footer {
  background-color: #f8f8f8;
  padding: 20px;
  border-top: 1px solid #ddd;
  padding: 0 10% 0 10%;
}

.logo img {
    height: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}




